<div class="left-menu">
  <div class="item" [routerLink]="['/project']">
    <span class="icon">
      <mat-icon svgIcon="project"></mat-icon>
    </span>
    <div>
      Project
    </div>
  </div>
  <!-- <div class="item">
    <span class="icon">
      <mat-icon svgIcon="board"></mat-icon>
    </span>
    <div>
      Board
    </div>
  </div> -->
  <div class="item" [routerLink]="['/user-management']">
    <span class="icon">
      <mat-icon svgIcon="person"></mat-icon>
    </span>
    <div>
      User Management
    </div>
  </div>
</div>
