@import 'src/theme.scss';

.page {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 60px);

  .card {
    width: 40%;
    min-width: 350px;
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px;

    .title {
      margin: 0 auto;
      text-align: center;
    }

    form {
      margin: 0 auto;
      width: 70%;
      max-width: 500px;

      .input-box {
        width: 100%;
      }

      .action-box {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
