<div class="nav-bar">
  <div class="banner">
    ZIRA
  </div>

  <div class="logout-container" *ngIf="currentUser">
    <div [matMenuTriggerFor]="menu" class="padding-left">
      <div class="user-name">
        <span>
          {{ currentUser.name[0] }}
        </span>
      </div>
    </div>
    <mat-menu #menu="matMenu" class="nav-menu">
      <div class="flex user-info">
        <div class="user-name">
          <span *ngIf="currentUser.name.length">
            {{ currentUser.name }}
          </span>
        </div>
        <div>
          <div>{{ currentUser.name }}</div>
          <div class="email">{{ currentUser.email }}</div>
        </div>
      </div>
      <button mat-menu-item>
        <span>Invite User</span>
      </button>

      <button class="border-bottom" mat-menu-item>
        <span>User Management</span>
      </button>
      <div class="sign-out">
        <div class="sign-out-inner">SIGN OUT</div>
      </div>
    </mat-menu>
  </div>
</div>
