<div>
  <div class="title">
    Create New Ticket
  </div>
  <form [formGroup]="ticketFormGroup">
    <div>
      <mat-form-field class="input-box">
        <mat-label>title</mat-label>
        <input matInput formControlName="title" />
        <mat-error
          *ngIf="
            ticketFormGroup.controls.title.errors &&
            ticketFormGroup.controls.title.errors.required
          "
        >
          ticket title is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-box">
        <mat-label>estimate</mat-label>
        <input matInput formControlName="estimate" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-box">
        <mat-label>type</mat-label>
        <input matInput formControlName="type" />
        <mat-error
          *ngIf="
            ticketFormGroup.controls.type.errors &&
            ticketFormGroup.controls.type.errors.required
          "
        >
          ticket type is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-box area-box">
        <mat-label>description</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          formControlName="description"
          matAutosizeMinRows="5"
          matAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-box">
        <mat-label>assignee</mat-label>
        <input matInput formControlName="assignee" />
      </mat-form-field>
    </div>
  </form>
  <div class="action-box">
    <button mat-raised-button (click)="close()">CANCEL</button>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="ticketFormGroup.invalid"
    >
      SUBMIT
    </button>
  </div>
</div>
