.title {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

form {
  margin: 0 auto;
  width: 80%;
  .input-box {
    width: 100%;
  }

  .select-box {
    padding-right: 50px;
  }

  .field-line {
    display: flex;
  }
}

.action-box {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 70%;
}
