.ticket-page {
  padding: 20px;
}

.ticket-head {
  .ticket-path {
    a {
      font-size: 14px;
    }
  }
  .ticket-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px 0;
  }
}

.ticket-actions {
}

.ticket-body {
  display: flex;
  .ticket-detail {
    flex-grow: 2;
  }

  .ticket-info {
    flex-grow: 1;
  }

  .box {
    margin-bottom: 30px;

    .title {
      font-weight: 700;
    }
    .body {
      padding: 0 0 0 20px;
    }
  }
}

table {
  td {
    vertical-align: top;
  }
}

.none-page {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: rgb(200, 200, 200);
  height: 100%;
  .text {
    margin: 0 auto;
    text-align: center;
  }
}
