@import '~@angular/material/theming';
@include mat-core();

$app-palette: (
  50: #ffffff,
  100: #f2f2f2,
  200: #d8d8d8,
  300: #999999,
  400: #666666,
  500: #4a4a4a,
  600: #333333,
  A100: #003c9c,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    A100: #fff,
    A200: #000,
    A300: #000,
    A400: #000,
    A500: #000,
  ),
);

$primary: mat-palette($app-palette, A100);
$accent: mat-palette($app-palette, 500);
$warn: mat-palette($app-palette, A300);
$app-theme: mat-light-theme($primary, $accent, $warn);

//common used colors
$blue: mat-color($primary);
