<div class="page">
  <div class="title">
    Projects
  </div>
  <div class="list">
    <div class="project-box" *ngFor="let project of projects">
      <div class="info-line">
        <div class="title">project name:</div>
        <div class="value">
          <a routerLink="/{{ project.project.name }}/board">{{
            project.project.name
          }}</a>
        </div>
      </div>
      <div class="info-line">
        <div class="title">description:</div>
        <div class="value">
          {{ project.project.description }}
        </div>
      </div>
    </div>

    <div class="project-box new-project" (click)="openCreateProjectDialog()">
      <div class="text">+ create new project</div>
    </div>
  </div>
</div>
