@import 'src/theme.scss';
.page {
  padding: 20px;

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 10px 10px 10px;

  .project-box {
    border: 1px solid rgb(200, 200, 200);
    border-left: 3px solid $blue;
    border-radius: 3px;
    width: 350px;
    height: 175px;
    padding: 20px 10px;
    margin-bottom: 20px;
    margin-right: 20px;

    .info-line {
      display: flex;
      line-height: 40px;

      .project-title {
        width: 120px;
        font-size: 15px;
        padding-right: 10px;
      }

      .value {
        width: 150px;
        font-size: 15px;
      }

      .more {
        text-align: right;
        cursor: pointer;
        flex-grow: 1;

        mat-icon {
          height: 28px;
          width: 28px;
        }
      }
    }

    .status {
      display: flex;
      justify-content: space-around;
      .status-box {
        width: 50px;
        height: 50px;
      }

      .green {
        background-color: rgb(115, 255, 115);
        color: rgb(84, 200, 84);
      }

      .red {
        background-color: rgb(255, 115, 115);
        color: rgb(200, 84, 84);
      }

      .grey {
        background-color: rgb(115, 115, 115);
        color: rgb(84, 84, 84);
      }
    }
  }

  .new-project {
    border: 3px dashed rgb(200, 200, 200);
    color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    cursor: pointer;

    .text {
      font-weight: 900;
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
    }
  }
}
.waring {
  color: rgb(238, 38, 38);
}
